.main {
  margin-top: 60px;
}

.main-info {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.contenedor {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.quienes-somos-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.caja-titulo-quienes-somos {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.titulo-quienes-somos {
  text-align: center;
  background-color: black;
  border-radius: 100px;
  padding: 15px;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.caja-texto-quienes-somos {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.texto-quienes-somos {
  text-align: justify;
  background-color: rgb(245, 245, 245);
  color: black;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 575px) {
  .caja-texto-quienes-somos {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}