.main {
  margin-top: 60px;
}

.main-info {
  display: grid;
  grid-template-columns: 1fr;
}

.contenedor {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr;
}

.caja-titulo {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  background-color: black;
  border-radius: 100px;
  padding: 15px;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.caja-texto {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.texto {
  text-align: justify;
  background-color: rgb(245, 245, 245);
  color: black;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 575px) {
  .caja-texto {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.pie-pagina {
  margin-left: auto;
  margin-right: auto;
}

.texto-footer {
  text-align: center;
  background-color: gray;
  color: black;
  font-size: 12px;
  font-weight: 700;
}